
#geral {
    width: 80%;
    height: auto;
    margin: auto; /* CENTRALIZAR A PÁGINA NO CENTRO */ 
    font-size: medium;
    font-family: monospace;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /*z-index: 1000; */
    /* filter: blur(5px); Para defocar */
}

#logoimg{
    height: 84px;
    width: 200px;
    margin: 25px auto;
    padding-top: 10px;
    display: block;
}

#menu{
    text-align: center;
    height: 50px;
    background-color: hsl(0, 17%, 89%);
}


.menu a:hover {
    color: slategray;              /* Cor ao passar o mouse */
    text-decoration: underline;  /* Opcional: sublinhado ao hover */
    filter: blur(0.7px);
}

.menu a:after {
    content: "|";              /* Cor ao passar o mouse */
    color: #333;
}

#bannerimg{
    height: 500px;
    width: 100%;
    border: solid 5px #333;
    padding: 0%;
    margin: 0px;
}